:root {
	--off-white-cream-bg: #faf9f6;
	--off-black: #242424;
	--brown: #af734a;
	--light-grey: #d7deea;

	--fs-sm: 1rem;
	--fs-normal: 1.125rem;
	--fs-lg: 24px;
	--fs-xl: 36px;

	--fw-light: 200;
	--fw-normal: 400;
	--fw-sbold: 600;
	--fw-bold: 700;
	--fw-xbold: 900;

	--ff-headings: "Londrina Solid", sans-serif;
	--ff-p: "Poppins", sans-serif;

	--ff-main: "Roboto", sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: var(--ff-main);
}

body {
	width: 80%;
	margin: 0 auto;
	background-color: var(--off-white-cream-bg);
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	/* position: sticky;
	top: 0;
	width: 100%;
	background-color: var(--off-white-cream-bg); */
}

/* nav */

.main-nav {
	margin-top: 40px;
	margin-bottom: 10px;
}

.main-nav ul {
	display: flex;
	justify-content: center;
	gap: 100px;
	list-style: none;
}

.main-nav ul li a {
	color: var(--off-black);
	font-weight: var(--fw-sbold);
	font-size: var(--fs-normal);
	text-decoration: none;
	transition: 0.3s ease-in-out;
}

.main-nav ul li a:hover {
	color: var(--brown);
}

/* Hero text */

.hero-text-wrapper {
	width: 500px;
	margin-bottom: 70px;
	margin-top: 62px;
}

.hero-text-wrapper p {
	color: var(--off-black);
	font-size: var(--fs-normal);
}

.hero-text-wrapper p:nth-child(1) {
	padding-bottom: 20px;
	font-weight: var(--fw-sbold);
}

/*  Hero Image */

.hero-image {
	width: 100%;
	margin-bottom: 100px;
}

/* Card Blog Grid */

.wrapper {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(2, 1fr);
	margin-top: 50px;
	margin-bottom: 100px;
}

.card {
	background-color: white;
	display: flex;
	border-radius: 3px;
	border: 1px solid black;
}

.card-img {
	border-radius: 3px;
}
.text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 25px 25px 0 25px;
}

.text__content h2 {
	font-family: var(--ff-headings);
	letter-spacing: 5px;
	margin-bottom: 10px;
}
.text__content p {
	font-family: var(--ff-main);
	font-size: var(--fs-sm);
	letter-spacing: 1.2px;
	margin-bottom: 15px;
}
.text__footer {
	display: flex;
	justify-content: space-between;
	border-top: 1px solid var(--light-grey);
	padding: 10px;
}
.text__footer-left {
	display: flex;
	align-items: center;
}

.text__footer-left > img {
	margin-right: 10px;
}
.text__footer-right {
	display: flex;
	align-items: center;
}

.text__footer-right > p {
	margin-left: 7px;
}

.hr-1 {
	margin: 50px auto;
}
.banner-image {
	display: flex;
	flex-direction: column;
}

#middle-banner-img {
	width: 100%;
}

#image-overlap {
	align-self: flex-end;
	margin-right: 100px;
	margin-top: -150px;
	position: relative;
}

.middle-text {
	margin-top: 100px;
	margin-bottom: 100px;
}

.middle-text > h3 {
	font-family: var(--ff-headings);
	padding-bottom: 10px;
	padding-top: 20px;
}

.middle-text > p {
	margin-top: 10px;
}

/* GRIDDDDD */
.grid-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: minmax(150px, auto);
	grid-gap: 10px;
	margin-top: 100px;
	/* overflow: hidden; */
}

.grid1 {
	grid-column: 1/1;
}
.grid2 {
	grid-column: 2/2;
}
.grid3 {
	grid-column: 3/3;
	grid-row: 1/3;
}
.grid4 {
	grid-column: 1/1;
	grid-row: 2/2;
}
.grid5 {
	grid-column: 2/3;
	grid-row: 2/4;
}

.grid6 {
	grid-row: 3/4;
	grid-column: 1/4;
}

.grid7 {
	grid-column: 1/3;
}

.grid8 {
	grid-column: 3/3;
	grid-row: 4/4;
}

.grid img {
	width: 100%;
}

/* footer */

footer {
	display: flex;
	justify-content: space-between;
	min-height: 150px;

	align-items: center;
}

.text__footer-left {
	display: flex;
}

.footer-left {
	display: flex;
	gap: 20px;
}

.sd-logo {
	width: 75px;
}

footer nav {
	display: flex;
	list-style: none;
	align-items: center;
	gap: 15px;
	margin-left: 50px;
}

footer nav a {
	text-decoration: none;
	display: inline-block;
	color: var(--off-black);
	transition: 0.2s ease;
}

footer nav a:hover {
	color: #af734a;
}

@media only screen and (max-width: 950px) {
	.wrapper {
		grid-template-columns: repeat(1, 1fr);
	}
}

@media only screen and (max-width: 550px) {
	.card {
		flex-direction: column;
	}
}
